<a href="https://colab.research.google.com/github/osmanabdikarim/colab/blob/main/python4non_programmers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [ ]:
print('I love azubi africa')

I love azubi africa

In [ ]:
fav = ('I love azubi africa')

print(fav)

I love azubi africa

In [ ]:
first_name= 'azubi'
last_name= 'africa'

print('my name is azubi africa')

my name is azubi africa

In [ ]:
first_name= 'gibt'
last_name= 'africa'

print('my name is azubi africa')

my name is azubi africa

In [ ]:
first_name= 'azubi'
last_name= 'africa'

print('my name is '  +  first_name +" "+ last_name)

my name is azubi africa

In [ ]:
first_name= 'azubi'
last_name= 'africa'

print('my name is {first_name}{}')

In [ ]:
full_name = 'jay me'
print ('hello' , full_name)

hello jay me

In [ ]:
full_name = 'jay me'
print (f'hello {full_name}')

hello jay me

In [ ]:
full_name = 'jay me'
print ('hello {}' .format(full_name))

hello jay me

In [ ]:
origin, actual_country = "cotedvore", "senegal"
print ("I'm from {}, and I live in {}.".format(origin, actual_country))

I'm from cotedvore, and I live in senegal.

In [ ]:
full_name = 'jay me'
print ('hello' , full_name, '..!')

hello jay me ..!

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
typed_value =  input("please type your Height (in cm):")
print (f"your height is : {typed_value} cm")

please type your Height (in cm):150
your height is : 150 cm

In [ ]:
typed_fullname =  input("please type your Full name\n")
print (f"Welcome {typed_fullname} !!!")

please type your Full name
jay
Welcome jay !!!

In [78]:
age_str = input("please enter your age\n>>") # get age in str format
age = int(age_str) # convert age to an int value

#COMPUTE PRICE
#if age belongs to [0,16[
if (age>=0) and (age<16):
      price = 10 # price = price + 10
      
#if age belongs to [16,65[
    elif (age>=16) and (age<65) :
      price = 15 # price = price + 15

#if age superior or equal to 65
    elif (age >=65):
      price = 25 # price = price + 25

#else means age is inferior to 0
    else :
     price = 0

#Print price
    if price == 0 :
     print (f"sorry, something went wrong with the value you typed")
    else :
     print (f"The price for your ticket : {price}")

IndentationError: ignored

In [51]:
help (range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [73]:
a = 5
for i in range(0, a):
    print(i)

0
1
2
3
4

In [72]:
a = 5+1
for i in range(0, a):
      print(i)

0
1
2
3
4
5

In [80]:
a = 5
for i in range(10):
      print(i)

0
1
2
3
4
5
6
7
8
9

In [81]:
full_names = ["emmanuel kay", "marv too" , "leo leah"]

for fullname in full_names:
      print(f"I'm {fullname}, and I like python programming.\n")

I'm emmanuel kay, and I like python programming.

I'm marv too, and I like python programming.

I'm leo leah, and I like python programming.

In [84]:
 count = 0
 while (count<5):
   count = count + 1
   print ("we like python")

we like python
we like python
we like python
we like python
we like python

In [85]:
 = 10):
   count = count + 1
   print ("we like python")

SyntaxError: ignored

In [86]:
 count = 0
 while (count<15):
   count = count + 1
   print ("we like python")

we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python
we like python

In [88]:
 count = 0
 while (count<5):
   count = count + 1
   print ("we like python")
 print ("End of my while loop")

we like python
we like python
we like python
we like python
we like python
End of my while loop

In [95]:
for i in range (1,7):
  for j in range(i):
      print(i, end='')
  print()

1
22
333
4444
55555
666666